{{#if addNewCategory}}
<div>
  <form>
    <div class="form-group">
      <label for="name">New Category</label>
      {{input value=name id="name"}}
    </div>
    <button class="btn btn-success" {{action 'saveCategory'}}>Save</button>
  </form>
</div>
{{else}}
    <button class="btn btn-info" {{action 'categoryFormShow'}}>New Category</button>
{{/if}}
