<h2>More information about {{model.owner}}'s {{model.type}}</h2>

{{list-details update="update" list=model destroyList="destroyList"}}

{{update-list list=model update="update"}}

<br>
{{#link-to 'index'}}Home{{/link-to}}
